// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
$primary: #564E58;
$secondary: #F2EFE9;
$danger: #904E55;

@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
